body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(79, 78, 78);
}
::-webkit-scrollbar-thumb{
    background-color: #f00;
    border-radius: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    padding: 10px 20px;
    background-color: #111;
    margin: 0 40px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, opacity 0.3s;
    
}
.navbar{
    margin-top: 4px;
    border: 3px solid transparent; /* Transparent border to avoid layout shift */
    box-shadow: 0 0 10px 3px rgba(248, 85, 4, 0.8); /* Adjust values for blur */
}
.navbar.transparent {
    background-color: rgba(51, 51, 51, 0.3);
}
.navbar .logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from the link */
}
.logo-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo-text .anime {
    color: red;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
}

.logo-text .thunder {
    color: yellow;
    font-size: 24px; /* Adjust the font size as needed */
    margin: 0 5px; /* Adjust spacing between words and symbol */
    transition: text-shadow 0.4s ease-in-out;
}

.logo-text .thunder:hover {
    text-shadow: 0px 0px 10px #ffa200, 
                 0px 0px 20px #c9e707;
}

.logo-text .mania {
    color: white;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: visibility 0.3s, opacity 0.3s; /* Add transition for smoothness */
    visibility: visible; /* Ensure nav-links are initially visible */
    opacity: 1; /* Ensure nav-links are initially opaque */
}
.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-links a:hover {
    background-color: #f00;
    color: #fff;
    border-radius: 15px;
    border: white solid 3px;
    padding: 10px;
}
.navbar .nav-options input {
    padding: 5px;
    font-size: 16px;
}
.navbar .nav-options .like-btn {
    background-color: #f00;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    margin-top: 8px;
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.carousel-item {
    position: absolute;
    width: 400px;
    /* max-width: 100px; */
    height: 270px;
    transform-style: preserve-3d;
    transition: transform 0.5s, opacity 0.5s;
}
.carousel-item img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #f00;
    border-radius: 20px;
    float: left;
    transition: all 0.4s ease-in-out ;
}

.carousel-item img:hover {
    transform: translateY(-40px) ;
    box-shadow: 0 0 20px #e73007, 0 0 40px #ff4800;
   
}

.carousel-item .info {
    width: 40%;
    height: 100%;
    padding: 5px;
    float: right;
    color: #fff;
    margin: 0px;
}
.carousel-item .carousel-watch-btn {
    background-color: #f00;
    border: 2px solid white;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 40%;
    text-align: center;
    margin-left: 12px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    transition: background-color 0.3s, color 0.3s;
}
.carousel-watch-btn:hover {
    background-color: #fff;
    color: #f00;
}
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(241, 235, 235, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 10px 3px rgba(4, 244, 248, 0.8);
}
.carousel-arrow.left {
    left: 10px;
}
.carousel-arrow.right {
    right: 10px;
}
@keyframes carousel {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-360deg);
    }
}
.carousel-item:nth-child(1) { transform: rotateY(0deg) translateZ(500px); }
.carousel-item:nth-child(2) { transform: rotateY(45deg) translateZ(500px); }
.carousel-item:nth-child(3) { transform: rotateY(90deg) translateZ(500px); }
.carousel-item:nth-child(4) { transform: rotateY(135deg) translateZ(500px); }
.carousel-item:nth-child(5) { transform: rotateY(180deg) translateZ(500px); }
.carousel-item:nth-child(6) { transform: rotateY(225deg) translateZ(500px); }
.carousel-item:nth-child(7) { transform: rotateY(270deg) translateZ(500px); }
.carousel-item:nth-child(8) { transform: rotateY(315deg) translateZ(500px); }
.carousel-item { opacity: 1; }
.carousel-item:nth-child(1) { opacity: 1; }
.carousel-item:nth-child(2) { opacity: 1; }
.carousel-item:nth-child(3) { opacity: 1; }
.carousel-item:nth-child(4) { opacity: 1; }
.carousel-item:nth-child(5) { opacity: 1; }
.carousel-item:nth-child(6) { opacity: 1; }
.carousel-item:nth-child(7) { opacity: 1; }
.carousel-item:nth-child(8) { opacity: 1; }
.section-heading {
    background-color: #f00;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}
.anime-grid {
    background-image: url(/project2/resources/allanime.jpg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 10px;
    margin: 40px;
}
.anime-card {
    background-color: #111;
    border: 2px solid #f00;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    height: auto;
    width: 70%;
    box-shadow: #000 0px 7px 29px 0px;
    transition: all 0.3s ease-in-out;
}
.anime-card:hover {
    transform: translateY(-40px);
    box-shadow: 0 0 20px #e73007, 0 0 40px #00fffc;
}
.anime-card img {
    width: 100%;
    height: auto;
    transition-property: all ease 0.4s;
    border-radius: 20px;
}
.anime-info {
    margin-top: 10px;
}
.anime-info p {
    margin: 10px 0;
}
.grid-watch-btn {
    width: 100px;
}
.grid-watch-btn,
.view-all-btn {
    border-radius: 20px;
    grid-column: 1 / -1;
    background-color: #f00;
    border: none;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.grid-watch-btn:hover,
.view-all-btn:hover {
    background-color: #fff;
    color: #f00;
}
.view-all {
    align-items: center;
}
.anime-row {
    background-image: url(/project2/resources/allanime.jpg);
    display: flex;
    
    gap: 20px;
    padding: 20px;
    margin: 40px;
}
.anime1{
    margin-left: 280px;
}
.row-card {
    
    align-items: center;
    background-color: #111;
    border: 2px solid #f00;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    box-shadow: #000 0px 7px 29px 0px;
    transition: all 0.3s ease-in-out;
}
.row-card img {
    width: 30%;
    height: auto;
    margin-right: 20px;
}
.row-card .anime-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row-card .anime-info p {
    margin: 10px 0;
}
.row-card .grid-watch-btn {
    margin-top: 10px;
    width: 100px;
}
.row-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #e73007, 0 0 40px #00fffc;
}
.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-section {
    flex: 1;
    padding: 0 20px;
}
.footer-section h3 {
    margin-bottom: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-section ul li a:hover {
    color: #f00;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer-section .socials img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #f00;
}
@media (max-width: 1024px) {
    .anime-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .carousel-item {
        width: 300px;
        height: 200px;
    }
    .carousel-item img {
        width: 50%;
    }
    .carousel-item .info {
        width: 50%;
    }

    .carousel-item:nth-child(1) { transform: rotateY(0deg) translateZ(350px); }
.carousel-item:nth-child(2) { transform: rotateY(45deg) translateZ(350px); }
.carousel-item:nth-child(3) { transform: rotateY(90deg) translateZ(350px); }
.carousel-item:nth-child(4) { transform: rotateY(135deg) translateZ(350px); }
.carousel-item:nth-child(5) { transform: rotateY(180deg) translateZ(350px); }
.carousel-item:nth-child(6) { transform: rotateY(225deg) translateZ(350px); }
.carousel-item:nth-child(7) { transform: rotateY(270deg) translateZ(350px); }
.carousel-item:nth-child(8) { transform: rotateY(315deg) translateZ(350px); }

}
}
@media (max-width: 768px) {
    /* .navbar {
        flex-direction: column;
        height: auto;
    } */
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #111;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }
    .navbar .nav-links a {
        margin: 10px 5px;
        font-size: 18px;
    }
    .hamburger {
        display: block;
    }
    .carousel {
        flex-direction: column;
    }
    .carousel-container {
        width: 100%;
    }
    .carousel-item {
        width: 200px;
        height: 150px;
    }
    .carousel-item img {
        width: 50%;
    }
    .carousel-item .info {
        width: 50%;
    }
    .anime-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .carousel-item {
        width: 100%;
        height: auto;
    }
    .carousel-item img {
        width: 50%;
    }
    .carousel-item .info {
        width: 50%;
    }
    .navbar .logo img {
        height: 40px;
        width: 40px;
    }
    .navbar .nav-links a {
        font-size: 16px;
        margin: 5px;
    }
    .anime-grid {
        grid-template-columns: 1fr;
    }
}
 /* login butto */
 /* Login Button Styles */
 

